name: Build Linux

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev libxkbcommon-x11-0 libxkbcommon-dev

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.8.*'
          cache: true

      - name: Install Ninja
        uses: turtlesec-no/get-ninja@main

      - name: Configure
        run: cmake --preset linux
        env:
          CMAKE_PREFIX_PATH: ${{ env.Qt6_DIR }}

      - name: Build
        run: cmake --build build --config Release

      - name: Run tests
        run: ctest --build-config Release --output-on-failure
        working-directory: build
        continue-on-error: true

      - name: Upload artifacts
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: QtNativeUI-linux
          path: build/Release/
          retention-days: 30
